@media screen and (min-width: 800px) {
    .travel--container {
      .element--title-wrap {
        .element--title {
          font-size: 20px;
          color: #585858;
          // font-weight: 600;
          span{
            font-size: 100%;
          }
          .element-most--people {
            font-weight: bold;
          }
        }
      }
      .element--subtittle {
        font-size: 15px!important;
        .element--best-aws {
          span{
            color: #585858;
            text-transform: none;
          }
        }
        .element--city span {
          color: #585858;
          text-transform: initial
        }
      }
      .element--viewmore {
        cursor: pointer;
        font-size: 15px!important;
        padding: 3px 25px;
        border-radius: 20px;
        background: rgb(253,202,27);
        color: #fff!important;
        background: linear-gradient(180deg, rgba(253,202,27,1) 43%, rgba(250,141,5,1) 100%);
        box-shadow: 2px 4px 1px 0px rgba(197,105,5,1);
        span {
          text-transform: uppercase
        }
      }
    }
    .travel--section {
      // &:hover{
      //   background: #F4DDC4;
      //   transition: all 0.4s ease-in-out;
      // }
      border-radius: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

  }
